.gallery-section {
  padding: 40px 20px;
}

.gallery-title {
  font-size: 28px;
  font-weight: bold;
  font-family: "Pragati Narrow", sans-serif;
  margin-bottom: 20px;
  text-align: center;
}
 
.gallery-img-container {
  width: 100%;
  height: 250px;              
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;            
  object-position: center;    
  transition: transform 0.3s ease;
}

.gallery-img:hover {
  transform: scale(1.06);      
}
